{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "import/no-extraneous-dependencies": [
      "error", {
        "devDependencies": ["**/*.test.js", "**/*.spec.js"]
      }
    ],
    "semi": [
      "error",
      "never"
    ],
    "react/jsx-filename-extension": "off"
  }
}
